@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
  width: 100vh;
  height: 100vh;
  background: linear-gradient(45deg, rgb(248, 246, 243), rgb(255, 241, 234));
}

h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.container{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    height: 270px;
    margin-left: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    width: 900px;
}

img{
    width: 100px;
    border-radius: 50px;
}

button {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 180px;
    cursor: pointer;
    margin-left: 710px;
    position: absolute;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    font-family: 'Inter', sans-serif;
    transition: ease-in-out 0.3s;
  }

  button:hover{
    transform: scale(1.1);
}

  #placeholder {
    height: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
    position: absolute;
    margin-left: 700px;
    width: 100px;
    margin-top: 90px;
    background-color: white;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-family: 'Inter', sans-serif;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

 .myBtn{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-transform: uppercase;
    width: 180px;
    cursor: pointer;
    position: absolute;
    font-size: 15px;
    transition: ease-in-out 0.3s;
    margin-top: 20px;
 }

 .op0, .op1, .op2, .op3, .op4{
  transition: ease-in-out 0.3s;
  color: rgb(0, 0, 0);
}

.op0:hover, .op1:hover, .op2:hover, .op3:hover, .op4:hover{
  transform: scale(1.2);
  color: green;
}

.sair{
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 70px;
  margin-left: 1190px;
  position: relative;
  font-size: 15px;
  transition: ease-in-out 0.3s;
}

a{
  color: rgb(0, 136, 255);
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.levi{
  border-radius: 2px;
  margin: 20px;
  width: 150px;
}